.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid #7e7e7e;
  width: 50px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: left 0.2s;
}

.switch__slider-F {
  top: 0;
  left: 1px;
}

.switch__slider-C {
  top: 0;
  left: 20px;
}

.switch__active {
  font-size: 16px;
  color: #7e7e7e;
}

.switch__temp-inactive {
  color: #7e7e7e;
}

.switch__temp-F {
  position: absolute;
  color: rgba(243, 243, 243, 1);
  top: -8px;
  left: 10px;
}

.switch__temp-C {
  position: absolute;
  color: rgba(243, 243, 243, 1);
  top: -8px;
  left: 30px;
}
