.register__link {
  border: none;
  width: 150px;
  height: 36px;
  margin-top: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.register__link.active {
  background-color: #000;
}
