.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  background: rgba(243, 243, 243, 1);
}
.header__add-clothes-btn {
  margin-left: auto;
  margin: 0 20px 0 20px;
  color: rgba(0, 0, 0, 1);
  border: none;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__add-clothes-button:hover {
  cursor: pointer;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
}
.header__username {
  margin: 0;
}
.header__logo {
  margin-right: 24px;
  width: 89px;
}

.header__date-and-location {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 11px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.header__avatar {
  height: 50px;
  width: 50px;
  align-self: center;
  border-radius: 50%;
  object-fit: center;
}
