.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  background: rgba(243, 243, 243, 1);
}
.header__add-clothes-btn {
  margin-left: auto;
  margin: 0 20px 0 20px;
  color: rgba(0, 0, 0, 1);
  border: none;
  font-family: "Cabinet-Grotesk", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__add-clothes-button:hover {
  cursor: pointer;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  gap: 20px;
}

.header__login {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: none;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.header__signup {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: none;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  white-space: nowrap;
}
.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
}

.header__avatar {
  height: 50px;
  width: 50px;
  align-self: center;
  border-radius: 50%;
  object-fit: center;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
