.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px 0;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__username {
  padding-right: 12px;
}

.header__add-close-button {
  margin-left: auto;
  border: none;
  padding-right: 20px;
  background: none;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12 px;
}
