.sidebar {
  width: 229px;
  height: 138px;
  display: flex;
  flex-direction: column;
}

.sidebar__user-info {
  display: flex;
  margin-left: 0;
}

.sidebar__username {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 24.8 px;
  text-wrap: nowrap;
}

.sidebar__user_avatar {
  margin: 0px 16px 0px 40px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 0;
}

.sidebar__change-profile {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", sans-serif;
  margin-bottom: 8px;
  margin-top: 24px;
  align-self: flex-start;
  font-size: 20px;
  border: none;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar__logout {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", sans-serif;
  margin-top: 10px;
  font-size: 20px;
  border: none;
  padding: 0;
  margin-right: 0px;
  align-self: flex-start;
  cursor: pointer;
}
