.sidebar__avatar-container {
  display: flex;
  gap: 16px;
}
.sidebar__user_avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__username {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
}

.sidebar__logout {
  font-family: "CabinetGrotesk-Medium";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  margin-top: 8px;
  border: none;
  background: none;
  padding: 0;
}

.sidebar__logout:hover {
  cursor: pointer;
}

.sidebar__change-profile {
  font-family: "CabinetGrotesk-Medium";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  margin-bottom: 0;
  border: none;
  background: none;
  padding: 0;
}

.sidebar__change-profile:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
